/*Questa prima parte è per lo stile in generale*/

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'SF Pro', sans-serif;
    font-size: 16px;
}




p {
    font-size: 3rem;    /* 1 × 16px = 16px */
}


/* Prima sezione */

#hero{
    min-height: 100vh;
    display: flex; /**/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;


    background-image: url("../img/hero_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

#title{
    font-size: 6rem;
    text-transform: uppercase;
}

/*zona con le scritte*/

#zona_centrale {
    display: inline-flex; /**/
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    gap: 0.5rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

#zona_centrale h1, #zona_centrale p {
    margin: 0;
}

#zona_centrale h1{
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    color: #000000
}

#zona_centrale p{
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
}


/*pulsante scopri di più*/

.scopri_di_piu{
    display: inline-flex;
    align-items: center;
    background-color: #e0e0e0;
    border: none;
    border-radius: 50px;            /* forma arrotondata */
    padding: 0.75rem 2rem;          /* spazio verticale | orizzontale */
    cursor: pointer;
    text-decoration: none;
}

/*testo del pulsante*/
.scopri_di_piu .sdp_text {
    font-family: 'SF Pro', sans-serif;
    font-size: 1rem;                /* 16px */
    font-weight: 400;               /* Regular */
    color: #000;
    margin-right: 0.5rem;
}

/*freccia del pulsante*/
.scopri_di_piu .sdp_icon {
    font-size: 1.5rem;              /* regola la dimensione della freccia */
    line-height: 1;
}

/*stato hover*/
.scopri_di_piu:hover {
    background-color: #d4d4d4;
}


/* Seconda sezione */

#title_2{
    font-size: 5em;
    margin-left: 0.75em;
    margin-bottom: 1.25em;
}

/* Bottone rettangolo con immagine sovrapposta */
.bottone {
    position: relative;
    display: inline-block;
    width: 24em;
    height: 40em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.bottone .rettangolo_bt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33729E;
    border-radius: 10px;
    margin-bottom: 1em;
}

.bottone .bottiglie_gr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
}

#partner {                  /*spazio tra i rettangoli*/
    display: flex;
    justify-content: flex-start;
    gap: 5.5em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 10.25em;
}


/* Terza sezione */

#general {
    display: flex;
    justify-content: flex-start;
    margin-left: 3em;
    margin-right: 3em;
    gap: 1.3em;
    margin-bottom: 4em;
}


#scopri_di_più{
    position: relative;
    display: inline-block;
    width: 88em;
    height: 60em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#rettangolo_sdp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33729E;
    border-radius: 10px;
}

#go_shopping{
    position: relative;
    display: inline-block;
    width: 42em;
    height: 60em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#testo_cerchio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24em;
    height: 40em;
}

#go_shopping_txt{
    font-size: 3em;
    font-weight: bold;
}

#rettangolo_gs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33729E;
    border-radius: 12px;
}


